# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
next-env.d.ts

# production
dist/

# env
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# sanity
.sanity/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os
.DS_store
Thumbs.db

# editor
.idea/
.vscode/*
!.vscode/extensions.json

.vercel
snapshots/
